.footer {
    height: $footer-height;
    text-align: right;
    line-height: $footer-height;
    font-size: small;
    padding-right: 30px;
    background: $gray-superlight;
    border-top: 1px solid $gray-light;

    img {
        width: 20px;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 5px;
    }
}
